[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
black = "*"
uuid = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = "*"
fastapi-jwt-auth = "*"
crypto = "*"
pymysql = "*"
aiomysql = "*"
psycopg2 = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.10"
